a:hover{
    color: #ED9B82;
}

#logo{
    position: absolute;
    width: 113px;
    height: 28px;
    left: 38px;
    top: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#slogan{
    position: absolute;
    width: 117px;
    height: 12px;
    left: 38px;
    top: 45px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

#navi{
    position: absolute;
    width: 289px;
    height: 19px;
    left: 284px;
    top: 51px;

    font-size: 16px;
    line-height: 19px; 
}

#header{
    position: absolute;
    width: 440px;
    height: 48px;
    left: 242px;
    top: 117px;

    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #BBDDCC;
}

#searchBar{
    position: absolute;
    width: 873px;
    height: 36px;
    left: 287px;
    top: 209px;
}

#inputGroupSelect03{
    color: #828282; 
}

#filter{
    width: 150px;
    height: 35px;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 6px;
}

#searchBtn{
    width: 167px;
}

#sort{
    position: absolute;
    width: 125px;
    height: 40px;
    left: 286px;
    top: 259px;

    border-radius: 200px;
}



  